<html>
    <body>
        <h1>License Information</h1>
        In order to download, IBM requires accepting licenses for both the JTS Server and SDK files. Links to both licenses are provided here. By accepting the license and clicking the "Download" button below, you confirm that you have reviewed the terms of the license and agree to be bound by its terms. If you do not agree, click the "Cancel" button.
        <ul>
            <li>SDK License: <a href="{{ sdkLicenseUrl }}">{{ sdkLicenseUrl }}</a></li>
            <li>Server License: <a href="{{ serverLicenseUrl }}">{{ serverLicenseUrl }}</a></li>
        </ul>

        <h1>Direct Links</h1>
        Should you prefer to download the required files directly from IBM (eg. for using a download manager), use the following links and cancel this dialog.
        <ul>
            <li>SDK Link: <a href="{{ sdkUrl }}">{{ sdkUrl }}</a></li>
            <li>Server Link: <a href="{{ serverUrl }}">{{ serverUrl }}</a></li>
        </ul>
    </body>
</html>
